*.a
*.dll
*.exe
*.gch
*.mk
*.txt
*.xrc
*build-debug*/
.cache/
.clangd/
.codelite/
.ctagsd/
/build-release/
Debug/
Makefile
Release/
build-Debug*/
build-Debug/
build-Win*/
compile_commands.json
tags
!CMakeLists.txt
